*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
}

body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
background: #0F0D26;
/*background: linear-gradient(45deg, #4E2467 0%, #0F0D26 50%, #5924B2 100%);*/
}

img{
    width: 400px;
    margin-bottom: 20px;
}

.tomas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.btn{
    border-radius: 10px;
    background: #24F2E9;
    box-shadow: 0 18px 40px 0 #1aa8a1;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    border: none;
    transition: opacity 0.3s ease;
}

.btn:hover{
    opacity: 0.8;
}

.btn:active{
    opacity: 0.6;
}

.start{
    width: 427.5px;
    height: 90px;
    padding: 0 118.5px 0 119px;
    font-size: 48px;
    line-height: 2.5px;
    margin-left: 30px;
    margin-right: 30px;
}
.stop, .reset{
    width: 342px;
    height: 72px;
    padding: 0 76px;
    flex-direction: column;
    justify-content: center;
    font-size: 36px;
    line-height: 2.5px; 
}

h1{
    width: 100%;
    height: 82px;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 480px) {

    img{
        max-width: 80%;
        height: auto;
    }
    h1{
        font-size: clamp(20px, 8vw, 36px);
    }

    .start, .reset, .stop{
        width: 100%;
        height: 50px;
        font-size: clamp(18px, 4vw, 36px);
        display: block;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }
}